<!--panel-->
<div class="panel panel-default myPanel mySmallPanel myText">
  <!-- header -->
  <div class="panel-heading text-center myPanelTitlebar">
    複利計算
  </div>
  <!-- body -->
  <div class="panel-body">
    <!-- input -->
    <p>元本<br>
      <input type="tel" [(ngModel)]="initValue"> 円
    </p>
    <p>複利<br>
      <input type="tel" [(ngModel)]="rate"> %
    </p>
    <!-- already input -->
    <div *ngIf="initValue && rate">
      <!-- result -->
      <p class="alert alert-info myLargeText text-center">
        10年後<br>{{calc() | number}}円
      </p>
      <!-- clear button -->
      <p>
        <button class="btn btn-warning btn-block myButton" (click)="clear()">クリア
        </button>
      </p>

      <!-- save button -->
      <p>
        <button class="btn btn-success btn-block myButton" [disabled]="!(initValue && rate)" (click)="save()">保存
        </button>
      </p>


      <!-- detail -->
      <table class="table table-bordered table-striped">
        <tr *ngFor="let value of calcArray(); let i = index">
          <td>{{i}}年目</td>
          <td>{{value | number}}円</td>
        </tr>
      </table>
    </div>
  </div>
</div>
